BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
BinPackParameters: false
BinPackArguments: false
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 150
AlignTrailingComments: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpaceInEmptyParentheses: false
IndentCaseLabels: true
IncludeCategories:
  - Regex: '^"'
    Priority: -1
  - Regex: '^<'
    Priority: 1
IncludeBlocks: Regroup
SortIncludes: true
AlwaysBreakBeforeMultilineStrings: true

Cpp11BracedListStyle: true
AlignAfterOpenBracket: BlockIndent